<!--about start-->
<section class="app2 about format">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 counters">
                <div class="abouts  center-text">
                    <div>
                        <div class="format-sub-text">
                            <p class="about-para">I Was the only person working on rewriting the app using react native
                                native, iOS helping me understand the existing app flows. Integrated Socket client for
                                real-time scoring.

                                AWS Amplify Auth and Cognito Identity were used for user authentication.
                                Social Login for Facebook and Google was also incorporated.

                                Developed custom UI from scratch as per designs using class-based components.

                                Git is used for version control management.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 counters set-height" [@fadeInRight]="fadeInRight">
                <img src="assets/images/resume/clublax/clublax-3.png" alt="" class="img-fluid mobile1"
                    style="width: 300px; height: auto;">
            </div>
        </div>
    </div>
</section>
<!--about end-->