<!--about start-->
<section class="app2 about format">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 counters set-height" [@fadeInLeft]="fadeInLeft">
                <img src="assets/images/resume/work/fert.png" alt="" class="img-fluid mobile1"
                    style="width: 300px; height: auto;">
            </div>
            <div class="col-sm-8 counters">
                <div class="abouts  center-text">
                    <div>
                        <div class="format-head-text">
                            <h3 class="about-font-header font-secondary">Heading</h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="about-para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.</p>
                            <p class="about-para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.</p>
                            <p class="about-para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--about end-->