<!--about start-->
<section class="app2 about format">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 counters">
                <div class="abouts  center-text">
                    <div>
                        <div class="format-head-text">
                            <h3 class="about-font-header font-secondary">Outcome</h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="about-para">The GiftYa is being used by thousands of users in the US and
                                generating millions of dollars in revenue. Available on Google play store and Apple app
                                store. Highly optimized and performant app.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 counters set-height" [@fadeInRight]="fadeInRight">
                <img src="assets/images/resume/gitfya/giftya-5.png" alt="" class="img-fluid mobile1"
                    style="width: 300px; height: auto;">
            </div>
        </div>
    </div>
</section>
<!--about end-->