<!-- download section Start-->

<section class="app1 download">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 hide-on-init" data-aos="fade-right" [@fadeInLeft]="fadeInLeft"
                data-aos-duration="1500">
                <div class="center-content center-mobile">
                    <img src="assets/images/resume/granny/granny-2.png" alt="" class="img-fluid width300">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6">
                <div class="center-text">
                    <div>
                        <div class="download-img d-flex">
                            <div class="set-relative">
                                <img src="assets/images/resume/icon/download.png" alt=""
                                    class="download-icon img-fluid">
                                <div class="set-abs elipse center-abs">
                                    <img src="assets/images/resume/icon/Ellipse.png" alt="">
                                </div>
                            </div>
                            <div class="center-img-content m-l-15">
                                <h3 class="m-b-5">Gift Card Granny</h3>
                                <p>download</p>
                            </div>
                        </div>
                        <div class="information">
                            <p>I worked on the mobile app project, from design to architecture to development and
                                releasing the apps to the Apple App Store and Google Play Store. We were a team of 10
                                persons working on the Gift Card Granny project two mobile app developers three website
                                developers and three backend developers one product manager, one product designer.</p>
                        </div>
                        <div class="link-horizontal">
                            <ul>
                                <li>
                                    <a class="icon-btn"
                                        href="https://play.google.com/store/apps/details?id=com.kinoli.giftcardgranny&hl=en"
                                        target="_blank">
                                        <i class="fa fa-android center-content shadow" aria-hidden="true"></i>
                                        <h6 class="text-center font-primary">android</h6>
                                    </a>
                                </li>
                                <li>
                                    <a class="icon-btn"
                                        href="https://apps.apple.com/us/app/gift-card-granny/id703155858"
                                        target="_blank">
                                        <i class="fa fa-apple center-content shadow" aria-hidden="true"></i>
                                        <h6 class="text-center font-primary">ios</h6>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- download section end-->