<!--about start-->
<section class="app2 about format">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 counters set-height" [@fadeInLeft]="fadeInLeft">
                <img src="assets/images/resume/granny/granny-3.png" alt="" class="img-fluid mobile1"
                    style="width: 300px; height: auto;">
            </div>
            <div class="col-sm-8 counters">
                <div class="abouts  center-text">
                    <div>
                        <div class="format-sub-text">
                            <p class="about-para">Added Sentry for debugging or handling the uncaught errors. Sometimes,
                                to avoid the Apps Store review queue I gave the idea of CodePush for pushing builds
                                without delay if something unusual happens.</p>
                            <p class="about-para">Also added the ability for the gift sender to add images/videos and
                                send them to their loved ones. The receiver can redeem using different options like
                                Visa, Zelle, Physical, etc...
                                I added social logins like Facebook, Google, and Apple.</p>
                            <p class="about-para">I wrote unit tests using Jest and end-to-end tests using Detox for
                                React native apps. Using GIT for version control management.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--about end-->