<!-- about section Start-->
<section class="gym format" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center center-content">
                    <div class="about-img">
                        <div class="borders-around">
                            <div>
                                <div class="bg-black"></div>
                            </div>
                            <img src="assets/images/resume/main/about_main.jpg" alt="" class="img-fluid format-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="center-text">
                    <div>
                        <div class="format-small-text">
                            <h6 class="font-primary borders-before"><span>A bit more about me </span></h6>
                        </div>
                        <div class="format-sub-text">
                            <p class="p-light about-para">During my tenure at Wolfe LLC, I played a pivotal role in
                                enhancing app performance for GiftYa through efficient state management and React hooks.
                                I integrated multiple payment methods, including PayPal, Google Pay, Apple Pay, and
                                Stripe, as well as social login options, significantly improving user experience.
                                Additionally, I developed Gift Card Granny from scratch, which resulted in substantial
                                revenue growth and thousands of downloads. Both projects leveraged technologies such as
                                React Native, React Query, Axios, and Redux, showcasing my ability to deliver
                                high-impact solutions.
                            </p>

                            <p class="p-light about-para">
                                At Tkxel, I led the development of FertApp by implementing a highly customized UI using
                                React Native components and managing the state with Redux for better performance. My
                                work at Purelogics included developing the UI and integrating APIs for ClubLax, which
                                featured real-time scoring, and developing the UI with social logins for NextHire's
                                mobile and admin panel. These projects utilized technologies like React Native, Socket
                                Programming, Axios, Redux, Sagas, AWS Amplify, and Cognito, demonstrating my expertise
                                in creating robust and user-friendly applications.
                            </p>


                            <p class="p-light about-para">
                                As an expert in mobile and web development, I bring a wealth of knowledge in optimizing
                                app performance, integrating advanced features, and ensuring seamless user experiences.
                                My ability to lead teams and deliver projects on time and within budget has been a
                                cornerstone of my professional journey.
                            </p>


                            <p class="p-light about-para">
                                I am a dedicated team player and leader, known for my collaborative approach and ability
                                to inspire and guide teams to achieve their best work. My passion for technology and
                                commitment to excellence drives me to continuously learn and innovate, staying ahead of
                                industry trends and delivering cutting-edge solutions.
                            </p>


                            <p class="p-light about-para">
                                I am passionate about creating impactful digital experiences and advancing the field of
                                software development. Whether it's leading a team or diving into complex coding
                                challenges, I am always eager to contribute my expertise and drive projects to success.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--about end-->