<!--header start-->
<section class="agency header" id="header">
    <div class="agency bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="center-text">
                        <div>
                            <div class="header-text">
                                <h1 class="text-uppercase"><span class="bold-text">Check My</span> Giftya Web</h1>
                            </div>
                            <div class="header-sub-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quod vel voluptatum,
                                    id nostrum provident itaque odio voluptatem. Cumque aspernatur culpa et. Laudantium
                                    quisquam illo numquam eveniet, ipsum debitis voluptatum.</p>
                            </div>
                            <div class="link-horizontal">
                                <ul>
                                    <li>
                                        <a class=" btn btn-default btn-gradient text-white">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="set-abs abs-horizon-center girl-boy">
        <img src="assets/images/resume/giftya-web/giftya-web-1.png" alt="" class="img-fluid width600" data-tilt data-tilt-max="5"
            data-tilt-perspective="500" data-tilt-speed="400" >
        <div class="plus-container plus-container8">
            <div class="plus white">
            </div>
        </div>
    </div>
    <div class="plus-container">
        <div class="plus">
        </div>
    </div>
    <div class="plus-container plus-container2">
        <div class="plus plus-medium">
        </div>
    </div>
    <div class="plus-container plus-container3">
        <div class="plus plus-small">
        </div>
    </div>
    <div class="plus-container plus-container4">
        <div class="plus plus-small">
        </div>
    </div>
    <div class="plus-container plus-container5">
        <div class="plus plus-medium">
        </div>
    </div>
</section>
<!--header end-->