<!--header start-->
<section class="resume header" id="header">
    <div class="header7-content">
        <div class="resume bg bg-pink" [ngStyle]="{'background-image': 'url(assets/images/resume/h7-bg-text.png)'}">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-lg-5 col-md-6">
                        <img src="assets/images/resume/main/personalPic.png" alt=""
                            class="img-fluid set-abs bottom-0 right-0">
                    </div> -->
                    <div class="col-lg-5 col-md-6">
                        <!-- Video with controls and fixed dimensions -->
                        <video class="img-fluid set-abs bottom-0 right-0 flip-video" autoplay loop muted controls
                            style="width: 100%; height: 100%; object-fit: cover;">
                            <source src="./../../../assets//video/intro.MP4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <!-- <video class="img-fluid set-abs bottom-0 right-0" loop muted>
                        <source src="../../../../assets//video/intro.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> -->
                    <div class="col-lg-6 col-md-6 offset-lg-1">
                        <div class="center-text">
                            <div>
                                <div class="header-sub-text">
                                    <!-- <h5 class="text-hash text-uppercase"># Developer</h5> -->
                                </div>
                                <div class="header-text">
                                    <h1><span class="bold-text">Hi, I’m</span><br> Umar Rasheed</h1>
                                </div>
                                <div class="header-sub-text">
                                    <h4 class="font-primary">A senior full-stack software developer working with
                                        React Native, React JS, TypeScript, Node and the web platform.</h4>
                                </div>
                                <div class="header-sub-text">
                                    <p class="font-primary font-large" style="font-size: 1rem;">Experienced software
                                        engineer with over 8 years
                                        in mobile and web development, specializing in designing and implementing
                                        applications using React Native, React, Angular, and other leading frameworks.
                                        Proven ability to deliver high-quality projects on time and within budget,
                                        demonstrating strong expertise in leading teams and optimizing performance.
                                        Adept at software architecture, code review, and applying industry best
                                        practices to ensure exceptional user experiences. I am eager to leverage my
                                        extensive knowledge and advanced skills in a lead or analyst role to drive
                                        innovation and achieve impactful results in the software development field.</p>
                                </div>
                                <!-- Added Contact Info Section -->
                                <div class="contact-info">
                                    <p class="font-primary"><strong>Contact Information:</strong></p>
                                    <p class="font-primary">Phone: <a href="tel:+923234801119">+923234801119</a></p>
                                    <p class="font-primary">Email: <a
                                            href="mailto:umar.rasheed.mebest@gmail.com">umar.rasheed.mebest@gmail.com</a>
                                    </p>
                                    <p class="font-primary">Address: Lahore, Pakistan</p>
                                </div>
                                <div class="link-horizontal">
                                    <ul>
                                        <!-- <li><a class="btn btn-default primary-btn back-white" routerLink="/about">know more</a></li> -->
                                        <li><a class="btn btn-default primary-btn back-white"
                                                href="../../../../assets/images/Resume.pdf">download cv</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="p-2 width120">
                                <li>
                                    <a href="https://www.linkedin.com/in/umar-rasheed/" target="_blank">
                                        <img src="assets/images/resume/social-media/linkedIn.png" alt=""
                                            class="img-fluid">
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#">
                                        <img src="assets/images/resume/social-media/twitter.png" alt=""
                                            class="img-fluid">
                                    </a>
                                </li> -->
                                <li>
                                    <a href="https://www.facebook.com/UMAR0061" target="_blank">
                                        <img src="assets/images/resume/social-media/facebook.png" alt=""
                                            class="img-fluid">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--header end-->