<!--copyright start-->
<footer class="resume copyright copyright-bg" [ngStyle]="{
    'background-color': 'copyright-bg',
    'color': 'copyright',
    'text-align': 'center',
    'padding': '20px',
    'position': 'absolute',
    'bottom': '0',
    'width': '100%',
    'box-shadow': '0 -2px 5px rgba(0, 0, 0, 0.1)'
  }">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <div class="social-link link-horizontal">
                        <ul class="justify-content-center">
                            <li><a href="https://www.facebook.com/UMAR0061" class="copyright-text"><i
                                        class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/umar-rasheed/" class="copyright-text"><i
                                        class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/umar.rasheed61/" class="copyright-text "><i
                                        class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="m-l-auto center-para">
                    <h6 class="copyright-text text-center">© 2024 portfolio powered by <a
                            href="https://www.linkedin.com/in/umar-rasheed/">Umar Rasheed</a></h6>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--copyright end-->
<app-tap-to-top></app-tap-to-top>