<!--about start-->
<section class="app2 about format">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">

            <div class="col-sm-7 counters">
                <div class="abouts  center-text">
                    <div>
                        <!-- <div class="format-small-text">
                                <h6 class="font-primary borders-before text-uppercase"><span>Sub Heading</span></h6>
                            </div> -->
                        <!-- <div class="format-head-text">
                            <h3 class="about-font-header font-secondary">More Details:</h3>
                        </div> -->
                        <div class="format-sub-text">
                            <p class="about-para">Developing mobile apps with React Native. Using GIT for version
                                control management.

                                Using Redux saga for state management and async operations. Afterward, updated API
                                integration with react query. We used typescript for GiftYa app development.

                                I added social logins like Facebook, Google, and Apple.

                                I implemented Stripe, Google Pay, Apple Pay, and PayPal. We're also introducing Amazon
                                Pay. User can use these payment methods to buy gifts for their loved ones.

                            </p>
                        </div>
                        <!-- <ul class="icon-collection">
                                <li class="about-icon">
                                    <a href="javascript:void(0)" class="center-content"><img
                                            src="assets/images/resume/icon/5.png" alt="" class="img-fluid"></a>
                                </li>
                                <li class="about-icon">
                                    <a href="javascript:void(0)" class="center-content"><img
                                            src="assets/images/resume/icon/6.png" alt="" class="img-fluid"></a>
                                </li>
                                <li class="about-icon">
                                    <a href="javascript:void(0)" class="center-content"><img
                                            src="assets/images/resume/icon/7.png" alt="" class="img-fluid"></a>
                                </li>
                            </ul>
                            <a class="btn btn-default btn-gradient m-t-50">learn more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-5 counters set-height" [@fadeInRight]="fadeInRight">
                <img src="assets/images/resume/gitfya/giftya-2.png" alt="" class="img-fluid mobile1"
                    style="width: 300px; height: auto;">
            </div>
        </div>
    </div>
</section>
<!--about end-->