<!--about start-->
<section class="app2 about format">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 counters">
                <div class="abouts  center-text">
                    <div>
                        <div class="format-sub-text">
                            <p class="about-para">I architected the mobile app using React Native and introduced a
                                unique file structure with enhanced user experience.</p>
                            <p class="about-para">Using Redux saga for state management and async operations. Also
                                utilized the react context API for auth flow handling.
                                I added social logins like Facebook, Google, and Apple.</p>
                            <p class="about-para">I implemented Stripe, Google Pay, Apple Pay, and PayPal. We're also
                                introducing Amazon Pay. User can use these payment methods to buy gifts for their loved
                                ones.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 counters set-height" [@fadeInRight]="fadeInRight">
                <img src="assets/images/resume/granny/granny-4.png" alt="" class="img-fluid mobile1"
                    style="width: 300px; height: auto;">
            </div>
        </div>
    </div>
</section>
<!--about end-->