<!--header start-->
<section class="agency header" id="header">
    <div class="agency bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="center-text">
                        <div>
                            <div class="header-text">
                                <h1 class="text-uppercase"><span class="bold-text">Check My</span> Giftya APP</h1>
                            </div>
                            <div class="header-sub-text">
                                <p>GiftYa - the gift card app that allows you to send a gift card in a new way! From the
                                    makers of Giftcards.com, GifYa is an app that completely streamlines and simplifies
                                    the gift card gift-giving process! We have reinvented gift sharing to be more
                                    accessible, personalized, and thoughtful than ever!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="set-abs abs-horizon-center girl-boy">
        <img src="assets/images/resume/gitfya/giftya-1.png" alt="" class="img-fluid" data-tilt data-tilt-max="5"
            style="width: 350px; height: auto;" data-tilt-perspective="500" data-tilt-speed="400">
        <div class="plus-container plus-container8">
            <div class="plus white">
            </div>
        </div>
    </div>
    <div class="plus-container">
        <div class="plus">
        </div>
    </div>
    <div class="plus-container plus-container2">
        <div class="plus plus-medium">
        </div>
    </div>
    <div class="plus-container plus-container3">
        <div class="plus plus-small">
        </div>
    </div>
    <div class="plus-container plus-container4">
        <div class="plus plus-small">
        </div>
    </div>
    <div class="plus-container plus-container5">
        <div class="plus plus-medium">
        </div>
    </div>
</section>
<!--header end-->