<!--services start-->
<section class="resume services bg-pink">
    <div class="container">
        <div class="row">
            <div class=" offset-md-2 col-md-8">
                <div class="title title2">
                    <h6 class="font-primary borders main-text text-uppercase"><span>details</span></h6>
                    <div class="sub-title">
                        <div class="">
                            <h2 class="title-text">services & experience</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 d-flex align-items-stretch" *ngFor="let data of service">
                <div class="service text-center bg-white d-flex flex-column">
                    <div class="img-block">
                        <img [src]="data.img" alt="" class="service-img img-fluid">
                    </div>
                    <div class="service-feature mt-auto">
                        <h4 class="feature-text text-center">{{data.type}}</h4>
                        <p>{{data.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--services start-->