<!--schedule start-->
<section class="resume schedule pt-0">
  <div class="container">
      <div class="title title2">
          <div class="row">
              <div class=" offset-md-2 col-md-8">
                  <h6 class="font-primary borders main-text text-uppercase"><span>details</span></h6>
                  <div class="sub-title">
                      <div class="">
                          <h2 class="title-text">Experience</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="cal-time">
                  <div class="time">
                      <h5 class="text-capitalize">Work Experience</h5>
                  </div>
              </div>
              <div class="event-container scrollbar">
                  <div>
                      <div class=" cal-time events" *ngFor="let data of schedule">
                          <div class="row">
                              <div class="col-md-10">
                                  <div class="schedule-event">
                                      <h4 class="names">{{data.jobTitle}}</h4>
                                      <div class="d-flex justify-content-between mx-3">
                                      <p class="names">{{data.companyName}}</p>
                                      <p class="fs-10 fw-lighter">{{data.country}}</p>
                                    </div>
                                      <img [src]="data.img" alt="" class="img-fluid schedule-img">
                                      <p class="names fs-14 fw-400 my-0 normal-txt">{{data.description1}}</p>
                                      <p class="names fs-14 fw-400 my-0 normal-txt">{{data.description2}}</p>
                                      <p class="names fs-14 fw-400 my-0 normal-txt">{{data.description3}}</p>
                                      <p class="names fs-14 fw-400 my-0 normal-txt">{{data.description4}}</p>
                                      <p class="names fs-14 fw-400 my-0 normal-txt">{{data.description5}}</p>
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="timing">
                                      <h5 class="event-time">{{data.toTime}}</h5>
                                      <div class="border-container">
                                          <div class="border-dashed"></div>
                                      </div>
                                      <h5 class="event-time">{{data.endTime}}</h5>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--schedule end-->
